.addConfession{
    height: 270px;
    width: 60%;
    border: 1px solid blue;
    margin-top: 70px;
    border-radius: 12px;
    margin-bottom: 15px;
}

.addConfession > textarea{
    border: none;
    outline: none;
    margin-top: 30px;
    font-size: 18px;
    resize: none;
    width: 90%;
}

.addConfession > button{
    padding: 20px 40px;
    background: #1f448d;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}


/* @media (max-width:1078) */